@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Jost', sans-serif;
}

body {
  margin: 0;
}

button {
  font: inherit;
  cursor: pointer;
  border: 1px solid purple;
  color: white;
  background: purple;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #a317a3;
  border-color: #a317a3;
}